@tailwind base;
@tailwind components;
@tailwind utilities;

.ratio {
    position: relative;
    display: block;
    overflow: hidden;
}

.ratio::before {
    display: block;
    width: 100%;
    content: '';
}

.ratio-28\:20::before {
    padding-bottom: 71.42857%;
}
